<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the home page</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, architecto assumenda quod facere et consequatur?</h2>
    <h3> Porro, molestiae ipsa quasi, vel eos consequuntur officia placeat, labore error similique dolorem. Nobis sint nihil reiciendis id alias!</h3>
</body>
</html>